<button mat-icon-button [mat-menu-trigger-for]="themeMenu" matTooltip="Select a theme!" tabindex="-1">
  <mat-icon>format_color_fill</mat-icon>
</button>
<!-- TODO: replace use of `mat-menu` here with a custom overlay -->
<mat-menu class="pms-theme-picker-menu" #themeMenu="matMenu" x-position="before" [overlapTrigger]="false">
  <mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let theme of themes">
      <div mat-menu-item (click)="updateTheme(theme)">
        <div class="pms-theme-picker-swatch">
          <div class="pms-theme-picker-primary" [style.background]="theme.primaryColur"></div>
          <mat-icon class="pms-theme-chosen-icon" *ngIf="currentTheme === theme">check_circle</mat-icon>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-menu>
