.login-form-container {
    mat-card {
        width: 100%;
        form {
            width: 100%;
            mat-form-field {
                clear: both;
                display: block;
                position: relative;
                input {
                    width: 100%;
                }
            }
        }
    }
    mat-grid-list {
        height: calc(100vh);
        mat-card-actions{
            margin: 0;
        }
    }
}
