#addIcon {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

mat-grid-list {
  height: calc(100vh - 100px);
  align-items: flex-start;

  mat-grid-tile {
    mat-grid-tile-header {
      width: 100%;
      color: #000;
      background: rgba(255, 255, 255, 1);
      border-top: .25px solid #eee;
    }

    mat-table {
      overflow: auto;
      width: 100%;
      height: calc(100% - 100px);
    }

    pms-account-list {
      width: 100%;
      height: calc(100% - 100px);
    }

    pms-account-types-list {
      width: 100%;
      height: calc(100% - 100px);
    }

    pms-accounting-period-list {
      width: 100%;
      height: calc(100% - 100px);
    }
  }
}
