<!--
<pms-dashboard-widgets></pms-dashboard-widgets>
<mat-grid-list [cols]="lastTransactionsBreakPoint" rowHeight="600px" gutterSize="15">
  <mat-grid-tile class="latest-transactions-grid-tile">
    <mat-grid-tile-header>
      <h3>{{ 'Latest Transactions'| translate }}</h3>
    </mat-grid-tile-header>
    <pms-latest-transactions></pms-latest-transactions>
  </mat-grid-tile>
  <mat-grid-tile class="income-expense-chart-grid-tile">
    <mat-grid-tile-header>
      <h3>{{ 'Income vs Expenses'| translate }}</h3>
    </mat-grid-tile-header>
    <pms-income-expense-chart></pms-income-expense-chart>
  </mat-grid-tile>
</mat-grid-list>
-->