mat-sidenav-container {
    mat-sidenav {
        width: 250px;
        mat-nav-list {
            mat-icon {
                margin-right: 10px;
            }
        }
    }
    mat-sidenav-content {
        min-height: calc(100vh);
        padding-top: 65px;
    }
}

.app-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
    min-height: 64px;
}