.sidenav-container {
  height: 100%;
}

.sidenav {
  min-width: 250px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 99;
}

mat-nav-list {
  margin-top: 64px;
}

mat-icon {
  margin-right: 5px;
}
