<div [class.is-mobile]="mobileQuery.matches" class="navigation-container">
  <mat-toolbar color="primary" class="mat-elevation-z10">
    <mat-toolbar-row>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title| translate }}</span>
      <div class="fil-between"></div>
      <pms-full-screen-toogler *ngIf="!mobileQuery.matches"></pms-full-screen-toogler>
      <pms-language-picker></pms-language-picker>
      <pms-theme-picker></pms-theme-picker>
      <pms-profile-menu></pms-profile-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav
      #drawer
      fixedInViewport="true"
      mode="over"
      fixedInViewport="true" [fixedTopGap]="mobileQuery.matches? 56 :64">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <a mat-list-item routerLink="/projects">
          <mat-icon>home</mat-icon>{{ 'Projects' | translate }}
        </a>
        <a mat-list-item routerLink="/transactions">
          <mat-icon>credit_card</mat-icon>{{ 'Transactions' | translate }}
        </a>
        <a mat-list-item (click)="showAccountsSubMenu=!showAccountsSubMenu">
          <mat-icon>account_balance</mat-icon>
          {{ 'Accounts' | translate }}
          <mat-icon class="sub-menu-action-icon" *ngIf="showAccountsSubMenu!=true">keyboard_arrow_down</mat-icon>
          <mat-icon class="sub-menu-action-icon" *ngIf="showAccountsSubMenu===true">keyboard_arrow_up</mat-icon>
        </a>
        <div *ngIf="showAccountsSubMenu===true">
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/accounts">
            <mat-icon>account_balance</mat-icon>{{ 'Accounts' | translate }}
          </a>
          <a mat-list-item routerLink="/accounts/account-types">
            <mat-icon>category</mat-icon>{{ 'Account Types' | translate }}
          </a>
          <a mat-list-item routerLink="/accounts/accounting-periods">
            <mat-icon>360</mat-icon>{{ 'Accounting Periods' | translate }}
          </a>
          <mat-divider></mat-divider>
        </div>
        <a mat-list-item routerLink="/users">
          <mat-icon>group</mat-icon>{{ 'Users' | translate }}
        </a>
        <a mat-list-item routerLink="/customers">
          <mat-icon>supervisor_account</mat-icon>{{ 'Customers' | translate }}
        </a>
        <a mat-list-item routerLink="/employees">
          <mat-icon>people_outline</mat-icon>{{ 'Employees' | translate }}
        </a>
        <a mat-list-item routerLink="/stocks">
          <mat-icon>assignment</mat-icon>{{ 'Stocks' | translate }}
        </a>
        <a mat-list-item routerLink="/budgeting">
          <mat-icon>assignment_turned_in</mat-icon>{{ 'Budgeting' | translate }}
        </a>
        <a mat-list-item routerLink="/forecast">
          <mat-icon>calendar_today</mat-icon>{{ 'Forecast' | translate }}
        </a>
        <a mat-list-item routerLink="/masters">
          <mat-icon>list</mat-icon>{{ 'Masters' | translate }}
        </a>
        <a mat-list-item routerLink="/profile">
          <mat-icon>account_box</mat-icon>{{ 'Profile' | translate }}
        </a>
        <a mat-list-item routerLink="/about">
          <mat-icon>info</mat-icon>{{ 'About' | translate }}
        </a>
        <a mat-list-item routerLink="/help">
          <mat-icon>contact_support</mat-icon>{{ 'Help' | translate }}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content select="[content]"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
