mat-sidenav-content {
  margin: 15px;
  margin-top: 60px;
}

pms-toolbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

mat-sidenav {
  width: 250px;
}
mat-sidenav-content{
  min-height: 100vh;
}