<mat-table [dataSource]="accountingPeriodDataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 100px'"> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element" [style.flex]="'0 0 100px'">
      <mat-icon [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = element">keyboard_arrow_down</mat-icon>
    </mat-cell>
  </ng-container>
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <mat-cell [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'" *matCellDef="let element"
      [attr.colspan]="columnsToDisplay.length">
      <div class="accounting-period-detail-row-wrapper">
        Details will be displayed here
      </div>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let element; columns: columnsToDisplay;" class="accounting-period-row" (click)="setExpandedElement(element)"
    [class.account-types-row-expanded]="expandedElement === element">
  </mat-row>
  <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="accounting-period-row-detail"></mat-row>
</mat-table>
